body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  margin-top: 10%;
  background-color: #f8fcfd;
  color: white;
}

body p {
  font-size: 1.2rem;
}

#header {
  background: cornflowerblue;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  height: 90vh;
  padding-top: 20px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 0 !important;
}

#title {
  color: white;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  padding-top: 0%;
}

#titolo {
  font-size: 6rem !important;
  -webkit-animation: fade-in 1.5s ease;
  animation: fade-in 1.5s ease;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

#sottotitolo {
  opacity: 0;
  -webkit-animation: fade-in 1s ease;
  animation: fade-in 1s ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  font-family: 'Titillium Web', sans-serif;
}

.page-footer {
  background-color: #6495ed !important;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
}

.fade-in {
  -webkit-animation: fade-in-bottom 1s ease;
  animation: fade-in-bottom 1s ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.nav-wrapper {
  background: cornflowerblue;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
}

.nav-wrapper .nav-bottoni {
  min-width: 100px !important;
  text-align: center;
  font-size: 1.2rem;
}

.nav-wrapper .dropdown-content li {
  background-color: white;
}

.nav-wrapper .dropdown-content a {
  color: cornflowerblue;
}

.brand-logo {
  margin-left: 5%;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  align-self: left;
  font-family: 'Lobster', cursive;
}

#logo-img {
  width: 70px;
  height: 70px;
  top: 0;
  margin-left: 5%;
}

.simulare {
  padding-top: 20vh;
  margin-right: 0;
}

.card {
  border-radius: 10px !important;
  margin-right: 5% !important;
  max-width: 40% !important;
}

#bottoni {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0% !important;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 4% 1fr;
      grid-template-columns: 1fr 4% 1fr;
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
}

.grid .link-casa {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border: 1px solid white !important;
  border-radius: 5px;
  padding: 1rem 0.6rem 1rem 0.6rem;
}

.grid .link-casa:hover, .grid .link-casa:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em;
          box-shadow: 0 0.5em 0.5em -0.4em;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  -webkit-box-shadow: inset 0 -3.25em 0 0;
          box-shadow: inset 0 -3.25em 0 0;
}

.grid .casa {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  border-radius: 3%;
  border-color: white;
}

.grid .casa:hover, .grid .casa:focus {
  color: #266ae9;
  font-weight: bold;
}

.grid .link-auto {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  border: 1px solid white !important;
  border-radius: 5px;
  padding: 1rem 0.6rem 1rem 0.6rem;
  margin: 1rem 0rem;
}

.grid .link-auto:hover, .grid .link-auto:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em;
          box-shadow: 0 0.5em 0.5em -0.4em;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  -webkit-box-shadow: inset 0 -3.25em 0 0;
          box-shadow: inset 0 -3.25em 0 0;
}

.grid .auto {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  color: white;
  padding: 14px 25px;
  border-radius: 3%;
  text-decoration: none;
}

.grid .auto:hover, .grid .auto:focus {
  color: #266ae9;
  font-weight: bold;
}

.grid .link-pac {
  border: 1px solid white !important;
  border-radius: 5px;
  padding: 1rem 0.6rem 1rem 0.6rem;
  margin: 1rem 0rem;
}

.grid .link-pac:hover, .grid .link-pac:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em;
          box-shadow: 0 0.5em 0.5em -0.4em;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  -webkit-box-shadow: inset 0 -3.25em 0 0;
          box-shadow: inset 0 -3.25em 0 0;
}

.grid .pac {
  color: white;
  padding: 14px 25px;
  border-radius: 3%;
  text-decoration: none;
}

.grid .pac:hover, .grid .pac:focus {
  color: #266ae9;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .grid .link-casa {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .grid .link-auto {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .grid .link-pac {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

#cookie-law {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 5%;
  background-color: #ccc;
  z-index: 999;
  color: black;
}

#cookie-law > div {
  padding: 0;
}

#cookie-law > div:first-child {
  padding-right: 40px;
}

#cookie-law > div:first-child > a {
  color: inherit;
}

#cookie-law > div:last-child {
  vertical-align: middle;
}

#cookie-law > div:last-child > a {
  padding: 10px 20px;
  background: cornflowerblue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */