body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10%;
    background-color: #f8fcfd;
    color: black;
    p {
        font-size: 1.2rem;
    }

    .flow-text {
        margin-left: 1%;
    }
    .black-font {
        color: black;
    }
}

#header {
    background: rgb(100,149,237);
    background: linear-gradient(90deg, rgba(100,149,237,1) 0%, rgba(168,29,253,1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

#title {
    color: white;
    height: 100%;
    padding-top: 0%;
    padding-bottom: 2%;
}

#titolo {
    animation: fade-in 1.5s ease;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Titillium Web', sans-serif;
}

#sottotitolo {
    opacity: 0;
    animation: fade-in 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-family: 'Titillium Web', sans-serif;
}

.page-footer {
    background-color: #6495ed !important;
    background: linear-gradient(90deg, rgba(100,149,237,1) 0%, rgba(168,29,253,1) 100%);
    margin-top: 30%;
}

.fade-in {
    animation: fade-in-bottom 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

.hidden {
    opacity: 0;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-30%);
    } to {
        opacity: 1; 
        transform: translateY(0);
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(30%);
    } to {
        opacity: 1; 
        transform: translateY(0);
    }
}

.divider {
    margin-bottom: 10px;
}

.nav-wrapper {
    background: rgb(100,149,237);
    background: linear-gradient(90deg, rgba(100,149,237,1) 0%, rgba(168,29,253,1) 100%);

    .nav-bottoni {
        min-width: 100px !important;
        text-align: center;
        font-size: 1.2rem;
      }

      .dropdown-content {
        li {
            background-color: white;
        }
        a {
          color: cornflowerblue;
        }
      }
}

.brand-logo {
    margin-left: 5%;
    align-self: left;
    font-family: 'Lobster', cursive;
} 

#logo-img {
    width: 70px;
    height: 70px;
    top: 0;
    margin-left: 5%;
}

.scenari {
    span {
        font-size: 25px;
        text-shadow: 1px 1px 1px #3a3a3a;
    }
}

.left-margin {
    margin-left: 2%;
}

.user-hidden {
    opacity: 0% !important;
    display: none !important;
    visibility: hidden !important;
}

.active {
    max-height: 58px !important;
}

#cookie-law {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 5%;
    background-color: #ccc;
    z-index: 999;
}
#cookie-law > div {
    padding: 0;
}
#cookie-law > div:first-child {
    padding-right: 40px;
}
#cookie-law > div:first-child > a {
    color: inherit;
}
#cookie-law > div:last-child {
    vertical-align: middle;
}
#cookie-law > div:last-child > a {
    padding: 10px 20px;
    background: rgb(100,149,237);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

