body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  margin-top: 10%;
  background-color: #f8fcfd;
  color: black;
}

body p {
  font-size: 1.2rem;
}

body .flow-text {
  margin-left: 1%;
}

body .black-font {
  color: black;
}

#header {
  background: cornflowerblue;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
}

#title {
  color: white;
  height: 100%;
  padding-top: 0%;
  padding-bottom: 2%;
}

#titolo {
  -webkit-animation: fade-in 1.5s ease;
          animation: fade-in 1.5s ease;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Titillium Web', sans-serif;
}

#sottotitolo {
  opacity: 0;
  -webkit-animation: fade-in 1s ease;
          animation: fade-in 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-family: 'Titillium Web', sans-serif;
}

.page-footer {
  background-color: #6495ed !important;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  margin-top: 30%;
}

.fade-in {
  -webkit-animation: fade-in-bottom 1s ease;
          animation: fade-in-bottom 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.divider {
  margin-bottom: 10px;
}

.nav-wrapper {
  background: cornflowerblue;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
}

.nav-wrapper .nav-bottoni {
  min-width: 100px !important;
  text-align: center;
  font-size: 1.2rem;
}

.nav-wrapper .dropdown-content li {
  background-color: white;
}

.nav-wrapper .dropdown-content a {
  color: cornflowerblue;
}

.brand-logo {
  margin-left: 5%;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  font-family: 'Lobster', cursive;
}

#logo-img {
  width: 70px;
  height: 70px;
  top: 0;
  margin-left: 5%;
}

.scenari span {
  font-size: 25px;
  text-shadow: 1px 1px 1px #3a3a3a;
}

.left-margin {
  margin-left: 2%;
}

.user-hidden {
  opacity: 0% !important;
  display: none !important;
  visibility: hidden !important;
}

.active {
  max-height: 58px !important;
}

#cookie-law {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 5%;
  background-color: #ccc;
  z-index: 999;
}

#cookie-law > div {
  padding: 0;
}

#cookie-law > div:first-child {
  padding-right: 40px;
}

#cookie-law > div:first-child > a {
  color: inherit;
}

#cookie-law > div:last-child {
  vertical-align: middle;
}

#cookie-law > div:last-child > a {
  padding: 10px 20px;
  background: cornflowerblue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=privacy-policy.css.map */