body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  margin-top: 10%;
  background-color: #f8fcfd;
  color: black;
}

body p {
  font-size: 1.2rem;
}

body .flow-text {
  margin-left: 1%;
}

body .black-font {
  color: black;
}

#header {
  background: cornflowerblue;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
}

#title {
  color: white;
  height: 100%;
  padding-top: 0%;
  padding-bottom: 2%;
}

#titolo {
  -webkit-animation: fade-in 1.5s ease;
          animation: fade-in 1.5s ease;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Titillium Web', sans-serif;
}

#sottotitolo {
  opacity: 0;
  -webkit-animation: fade-in 1s ease;
          animation: fade-in 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-family: 'Titillium Web', sans-serif;
}

.page-footer {
  background-color: #6495ed !important;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
  margin-top: 30%;
}

.fade-in {
  -webkit-animation: fade-in-bottom 1s ease;
          animation: fade-in-bottom 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#container-opzioni-avanzate {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: darkgray;
  padding: 0 10px 0 10px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  background-color: whitesmoke;
}

#row-opzioni-avanzate {
  margin-top: 5%;
}

#opzioni-avanzate {
  font-size: 11px;
  min-width: 250px;
}

#p-bottone {
  margin: auto;
}

#row-calcolo {
  margin: 5%;
}

#calcolo {
  border-radius: 10px;
  min-width: 130px;
}

.input-field {
  background-color: lightcyan;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-shadow: 5px 0 0 10px 10px black;
          box-shadow: 5px 0 0 10px 10px black;
}

.input-field label {
  color: darkslategray !important;
}

#switch-prima-casa, #switch-da-privato, #switch-prima-casa-secondo-mutuo, #switch-da-privato-secondo-mutuo {
  background-color: transparent !important;
  padding-bottom: 5px;
}

.risultati {
  margin: 20px;
}

#anni-affitto-acquisto, #div-anni-affitto-acquisto {
  padding-left: 10px;
  width: 220px;
  min-width: 220px;
}

#div-anni-affitto-acquisto {
  min-width: 240px;
}

.divider {
  margin-bottom: 10px;
}

.card, .card-content {
  background-color: #6495ed;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  /* background: linear-gradient(90deg, rgba(100,149,237,1) 0%, rgba(168,29,253,0.2) 100%); */
}

.card:hover .card-content:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-wrapper {
  background: cornflowerblue;
  background: -webkit-gradient(linear, left top, right top, from(cornflowerblue), to(#a81dfd));
  background: linear-gradient(90deg, cornflowerblue 0%, #a81dfd 100%);
}

.nav-wrapper .nav-bottoni {
  min-width: 100px !important;
  text-align: center;
  font-size: 1.2rem;
}

.nav-wrapper .dropdown-content li {
  background-color: white;
}

.nav-wrapper .dropdown-content a {
  color: cornflowerblue;
}

.brand-logo {
  margin-left: 5%;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  font-family: 'Lobster', cursive;
}

#logo-img {
  width: 70px;
  height: 70px;
  top: 0;
  margin-left: 5%;
}

.scenari span {
  font-size: 25px;
  text-shadow: 1px 1px 1px #3a3a3a;
}

.left-margin {
  margin-left: 2%;
}

#myChart {
  min-height: 600px;
  max-height: 600px;
  max-width: 600px;
  margin-top: 5%;
}

@media (max-width: 400px) {
  #myChart {
    width: 300px !important;
    height: 300px !important;
  }
}

.user-hidden {
  opacity: 0% !important;
  display: none !important;
  visibility: hidden !important;
}

.active {
  max-height: 58px !important;
}

#container-affitto-acquisto, #container-acquisto-acquisto, #divider-affitto-acquisto {
  display: none;
}

#cookie-law {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 5%;
  background-color: #ccc;
  z-index: 999;
}

#cookie-law > div {
  padding: 0;
}

#cookie-law > div:first-child {
  padding-right: 40px;
}

#cookie-law > div:first-child > a {
  color: inherit;
}

#cookie-law > div:last-child {
  vertical-align: middle;
}

#cookie-law > div:last-child > a {
  padding: 10px 20px;
  background: cornflowerblue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.tabella-costi {
  background: rgba(100, 148, 237, 0.5) !important;
}

.tabella-patrimonio {
  background: rgba(1, 23, 65, 0.836) !important;
  color: white;
}

.border-table table {
  border-top: 1px solid black !important;
}

.border-table table tfoot {
  border-bottom: 1px solid black !important;
}

.results-card {
  border-radius: 25px !important;
  font-size: 1.2rem;
  display: none;
}
/*# sourceMappingURL=style.css.map */